<%-include("./partials/header");-%>
<link rel="stylesheet" href="/stylesheets/index.css" />

<div class="wrapper">
  <h1>Edit</h1>
  <form class="ui form" action="/<%=blog._id%>?_method=PUT" method="post">
    <div class="field">
      <label>Image link</label>
      <input
        type="url"
        required
        name="blog[image]"
        id="image"
        value="<%=blog.image%>"
      />
    </div>
    <div class="ui form">
      <div class="field">
        <grammarly-extension
          style="position: absolute; top: 0px; left: 0px; pointer-events: none"
          class="_1KJtL"
        >
        </grammarly-extension>
        <label>Tell us more</label>
        <textarea
          required
          name="blog[description]"
          spellcheck="false"
          id=""
          cols="30"
          rows="10"
        >
<%=blog.description%></textarea
        >
      </div>
    </div>

    <button
      style="margin: 1rem 0"
      class="ui secondary button margin__top"
      type="submit"
    >
      Submit
    </button>
  </form>
</div>
<%-include("./partials/footer");-%>
